.title{font-size:20px;
    color:red;
}

.form{
    background: dimgray;
}

body{
    background: aqua;
}

.image_head{
    position: absolute;
    left: 50%;
    background: black;
}

.koma_picture{
    width: 40px;
    height: 40px;
}

.judge_picture{
    width: 150px;
    height: 150px;
}

.undo_picture{
    width: 100px;
    height: 100px;
}

.start_bottun{
    width: 100px;
    height: 100px;
}