{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="/post" method="post" class="form-inline">
          <label for="name">どこにうちますか？</label> <br >
          <input type="text" class="form-control" id="point_inf" name="point_inf" placeholder="ex)a 1 B(or W)">
          <button type="submit" class="btn btn-default">うつ</button>
        </form>
        <br ><br ><br >

        [/]&nbsp;[a][b][c]&nbsp;[d][e][f&nbsp;][g&nbsp;][h]<br >
        [1]&nbsp;{{' '.join(line[0])}} <br >
        [2]&nbsp;{{' '.join(line[1])}} <br >
        [3]&nbsp;{{' '.join(line[2])}} <br >
        [4]&nbsp;{{' '.join(line[3])}} <br >
        [5]&nbsp;{{' '.join(line[4])}} <br >
        [6]&nbsp;{{' '.join(line[5])}} <br >
        [7]&nbsp;{{' '.join(line[6])}} <br >
        [8]&nbsp;{{' '.join(line[7])}} <br >

      </div>
    </div>
  </div>
</div>
{% endblock %}