{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="image_head">
    <img src="static/image/othello_head.jpeg">
  </div>


    あなたばどっちにしますか？
    <form action="/vs_cp_play" method="get">
        <input type="image" class="koma_picture" src="static/image/black.png" name="turn_value" value='b'>
        <input type="image" class="koma_picture" src="static/image/white.png" name="turn_value" value='w'>
    </form>


</div>
{% endblock %}