{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="image_head">
    <img src="static/image/othello_head.jpeg">
  </div>



    <form action="/vs_cp" method="get">
        <input type="image" class="start_bottun" src="static/image/alone.png">
    </form>
    <form action="/vs_peaple" method="get">
        <input type="image" class="start_bottun" src="static/image/two.png">
    </form>


</div>
{% endblock %}